numpy
open3d          #originally 0.12.0, not available in colab
scipy
scikit-learn
smplx
tensorboard
tensorboardX
torch
torchgeometry
tqdm
matplotlib
pyrender
trimesh
PyYAML
configargparse
pillow
#opencv-python